<p id="notice"><%= notice %></p>

<h1 class='text-4xl font-bold text-red-800 my-5'>Questions</h1>
<div>
  <%= form_with url: "/submit", method: :get, local: true do |form| %>
    <% @questions.each_with_index do |question, index| %>
      <div id='<%= index %>' class='questions hidden'>
        <div class='bg-gray-200 p-3 rounded-lg text-xl font-bold text-green-800'>
          <%= question[:title] %>
        </div>
        <div class='my-3'>
          <% question[:options].each do |option| %>
            <%= form.fields_for :answers do |f| %>
              <div class = 'flex gap-2 my-4 ml-2 text-lg'>
                <%= f.radio_button question[:title], option[:option_type], required: true, id: option[:title] %>
                <%= f.label option[:title], option[:title] %>
              </div>
            <% end %>
          <% end %>
        </div>
        <% if index != 0  %>
          <button type='button' class='previous-button text-blue-800 bg-blue-200 py-2 px-4 rounded-xl text-lg border' question-index='<%= index %>' >Previous</button>
        <% end %>
        <% if index == @questions.length-1 %>
          <%= form.submit "Submit", class: 'submit-button text-green-800 bg-green-200 py-2 px-4 rounded-xl text-lg border' %>
        <% else %>
          <button type='button' class='next-button text-blue-800 bg-blue-200 py-2 px-4 rounded-xl text-lg border' question-index='<%= index %>' >Next</button>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <h1 id='error' class='text-xl font-bold text-red-800 my-5 hidden'>Fill all Questions then Submit</h1>
</div>
<br/>
